
//variables

:root {
  --bg-header: #ffffff;
  --bg-main: #242424;
  --bg-accent: #535353;
  --bg-button: #686868;
  --bg-button-hover: #ecc100;
  --button-selected: #009aec;
  --text-color: #eff1f3;
  --nav-size: 4rem;
  --border: 1px solid #838383;
  --border-radius: 1rem;
  --speed: 500ms;
  --tablet: 500px;
}

// MOBILE FIRST VIEW

h1, h2, h3, p {
  padding: .5rem 0;
}

h1{
  font-size: 1.5rem;
}

h2{
  font-size: 1.25rem;
}

h3{
  font-size: 1.125rem;
}


.hidden{
  display:none;
}

body{
  width: 100%;
  display: flex;
  justify-content: center;
  .container{
    width: 100%;
    max-width: 1024px;
  }
}

img {
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
  color: var(--text-color);
  background-color: var(--bg-main);
}

button, a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  text-decoration: none;
  color: var(--bg-button);
  background-color: var(--bg-header);
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: rgba(236, 193, 00, .3);
  }
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-header);
  margin-bottom: 1rem;
  padding: 0 .5rem;
  div{
    display: flex;
    justify-content: center;
  }
  .logo{
    display: flex;
    justify-content: space-between;
    height:3rem;
    width: 100%;
    a{
      img {
        width: 100px;
      }
    }
    .menuToggle{
      height: 3rem;
      width: 3rem;
      display: flex;
      font-weight: bold;
      font-size: 1.25rem;
      justify-content: center;
      align-items: center;
    }
  }
  .links{
    display: flex;
    flex-direction: column;
    button, a {
      width: 100%;
      height: 3rem;
      border-top: 1px solid var(--bg-main);
      color: var(--bg-main);
      font-weight: bold;
      img{
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .25rem;
      }
    }
  }
}


main{
  section{
    margin: .5rem;
    border: 1px solid var(--bg-accent);
    border-radius: 10px;
    padding: .5rem;
    background: rgba(255, 255, 255, .05);
    
  }
}


//TABLET VIEW


//DESKTOP VIEW


// ULTRAWIDE VIEW